@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #4ea9ff, #e8e8e8);
}

.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

}

.stopwatch-container h1 {
  font-size: 3rem;
}

.display {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem;
}

.controls {
  display: flex;
  gap: .7rem;
}

.controls button {
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: tranform .15s, box-shadow .15s;
  cursor: pointer;
}

.controls button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.start-button {
  background-color: rgb(134, 210, 21);
}
.reset-button {
  background-color: lightseagreen;
}
.stop-button {
  background-color: tomato;
}