@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://cdn1.epicgames.com/ue/product/Screenshot/6-1920x1080-7f74273417687ea1382ea51445325736.jpg?resize=1&w=1920');
  background-size: cover;
  background-position: center;
}

.clock-container {
  width: 100%;
  backdrop-filter: blur(2px);
  text-align: center;
}

.clock span {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}