* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, orange ,orangered);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.counter-program .count-display {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.buttons .counter-button {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: .4rem 1rem;
  margin: 0 .5rem;
  transition: transform .15s, background-color .15s;
}

.buttons .counter-button:hover {
  transform: scale(.98);
  background-color: orange;
}